%h2
  = @user.full_name.capitalize
-if @user.picture.present?
  = image_tag @user.picture.url(:large)
-else @user.avatar_img_url.present?
  #{image_tag @user.avatar_img_url, :style => "width: 100px; height: 100px;"}
%p
  = Rails.configuration.host + @user.slug